{% extends "main.html" %}

{% block header %}
	<!--<title> nazwa strony </title>-->
	<!--<meta description="" content=""/>-->
	<!--<meta content="keywords" content=""/>-->

	<link rel="stylesheet" href="styles/talk.css" type="text/css"/>
	<link href="font/css/fontello.css" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Mukta:400,600&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:500,600&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock header %}

{% block content %}
    <main>
        <div class="talk-header">
            <div class="talk-title">TALK</div>
        </div>
        <div class="talk-center">
            <div class="talk-absolute">
                <div class="talk-singleQuestion">
                    <div class="talk-brandinfo">
                        <div class="talk-questionType">LEGIT CHECK</div>
                        <div class="talk-brandname">ADIDAS YEEZY BOOST 350 V2 BELUGA 2.0</div>
                        <div class="talk-timeanduser">DODANE <span class="talk-info">15 MINUT</span> TEMU PRZEZ <span class="talk-info">USER</span></div>
                    </div>
                    <div class="talk-photo">
                        <div class="talk-arrow talk-arrowLeft"><i class="demo-icon icon-left-open-big"></i></div>
						<div class="talk-arrow talk-arrowRight"><i class="demo-icon icon-right-open-big"></i></div>
                    </div>
                    <div class="talk-nextPhotos">
						<div class="talk-dot talk-checkedDot">&#xf111;</div>
						<div class="talk-dot">&#xf111;</div>
						<div class="talk-dot">&#xf111;</div>
						<div class="talk-dot">&#xf111;</div>
						<div class="talk-dot">&#xf111;</div>
						<div class="talk-dot">&#xf111;</div>
						<div class="talk-dot">&#xf111;</div>
                    </div>
                    <div class="talk-description">
                        <span>Building off the success of their previous collaborations, Travis Scott adds yet another new design to his collaborative relationship with Jumpman via the Air Jordan 1 Low Travis S.</span>
                    </div>
                    <div class="talk-buttons">
                        <div class="talk-legitButton">LEGIT</div>
                        <div class="talk-fakeButton">FAKE</div>
                    </div>
                    <div class="talk-ratio">
                        <div class="talk-legitFakeValues"></div>
                    </div>
                    <div class="talk-ratioValue">70%</div>
                </div>
                <div class="talk-questionsList">
                    <div class="talk-questionsListInside">
                        <div class="talk-addQuestion">DODAJ PYTANIE</div>
                        <div class="talk-sortList">
                            <div class="talk-singleCategory">ID</div>
                            <div class="talk-singleCategory">LC</div>
                            <div class="talk-singleCategory">PC</div>
                            <div class="talk-singleCategory">FIT</div>
                            <div class="talk-singleCategory">ASK</div>
                        </div>
                        <div class="talk-singleQuestionOnList">
                            <div class="quewin-responsesNumber">+10</div>
                            <div class="talk-singleQuestionMain">
                                <div class="quewin-categoryinfo">LC</div>
                                <div class="talk-singleQuestionInfo">
                                    <div>
                                        <div class="talk-singleQuestionBrandName">ADIDAS YEEZY BOOST 350 V2 BELUGA 2.0</div>
                                        <div class="talk-timeanduser">DODANE <span class="talk-info">15 MINUT</span> TEMU PRZEZ <span class="talk-info">USER</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="talk-singleQuestionOnList">
                            <div class="quewin-responsesNumber">+10</div>
                            <div class="talk-singleQuestionMain">
                                <div class="quewin-categoryinfo">LC</div>
                                <div class="talk-singleQuestionInfo">
                                    <div>
                                        <div class="talk-singleQuestionBrandName">ADIDAS YEEZY BOOST 350 V2 BELUGA 2.0</div>
                                        <div class="talk-timeanduser">DODANE <span class="talk-info">15 MINUT</span> TEMU PRZEZ <span class="talk-info">USER</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="talk-singleQuestionOnList">
                            <div class="quewin-responsesNumber">+10</div>
                            <div class="talk-singleQuestionMain">
                                <div class="quewin-categoryinfo">LC</div>
                                <div class="talk-singleQuestionInfo">
                                    <div>
                                        <div class="talk-singleQuestionBrandName">ADIDAS YEEZY BOOST 350 V2 BELUGA 2.0</div>
                                        <div class="talk-timeanduser">DODANE <span class="talk-info">15 MINUT</span> TEMU PRZEZ <span class="talk-info">USER</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="talk-singleQuestionOnList">
                            <div class="quewin-responsesNumber">+10</div>
                            <div class="talk-singleQuestionMain">
                                <div class="quewin-categoryinfo">LC</div>
                                <div class="talk-singleQuestionInfo">
                                    <div>
                                        <div class="talk-singleQuestionBrandName">ADIDAS YEEZY BOOST 350 V2 BELUGA 2.0</div>
                                        <div class="talk-timeanduser">DODANE <span class="talk-info">15 MINUT</span> TEMU PRZEZ <span class="talk-info">USER</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="talk-singleQuestionOnList">
                            <div class="quewin-responsesNumber">+10</div>
                            <div class="talk-singleQuestionMain">
                                <div class="quewin-categoryinfo">LC</div>
                                <div class="talk-singleQuestionInfo">
                                    <div>
                                        <div class="talk-singleQuestionBrandName">ADIDAS YEEZY BOOST 350 V2 BELUGA 2.0</div>
                                        <div class="talk-timeanduser">DODANE <span class="talk-info">15 MINUT</span> TEMU PRZEZ <span class="talk-info">USER</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="talk-singleQuestionOnList">
                            <div class="quewin-responsesNumber">+10</div>
                            <div class="talk-singleQuestionMain">
                                <div class="quewin-categoryinfo">LC</div>
                                <div class="talk-singleQuestionInfo">
                                    <div>
                                        <div class="talk-singleQuestionBrandName">ADIDAS YEEZY BOOST 350 V2 BELUGA 2.0</div>
                                        <div class="talk-timeanduser">DODANE <span class="talk-info">15 MINUT</span> TEMU PRZEZ <span class="talk-info">USER</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="talk-singleQuestionOnList">
                            <div class="quewin-responsesNumber">+10</div>
                            <div class="talk-singleQuestionMain">
                                <div class="quewin-categoryinfo">LC</div>
                                <div class="talk-singleQuestionInfo">
                                    <div>
                                        <div class="talk-singleQuestionBrandName">ADIDAS YEEZY BOOST 350 V2 BELUGA 2.0</div>
                                        <div class="talk-timeanduser">DODANE <span class="talk-info">15 MINUT</span> TEMU PRZEZ <span class="talk-info">USER</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="talk-singleQuestionOnList">
                            <div class="quewin-responsesNumber">+10</div>
                            <div class="talk-singleQuestionMain">
                                <div class="quewin-categoryinfo">LC</div>
                                    <div class="talk-singleQuestionInfo">
                                    <div>
                                        <div class="talk-singleQuestionBrandName">ADIDAS YEEZY BOOST 350 V2 BELUGA 2.0</div>
                                        <div class="talk-timeanduser">DODANE <span class="talk-info">15 MINUT</span> TEMU PRZEZ <span class="talk-info">USER</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="talk-singleQuestionOnList">
                            <div class="quewin-responsesNumber">+10</div>
                            <div class="talk-singleQuestionMain">
                                <div class="quewin-categoryinfo">LC</div>
                                <div class="talk-singleQuestionInfo">
                                    <div>
                                        <div class="talk-singleQuestionBrandName">ADIDAS YEEZY BOOST 350 V2 BELUGA 2.0</div>
                                        <div class="talk-timeanduser">DODANE <span class="talk-info">15 MINUT</span> TEMU PRZEZ <span class="talk-info">USER</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="talk-singleQuestionOnList">
                            <div class="quewin-responsesNumber">+10</div>
                            <div class="talk-singleQuestionMain">
                                <div class="quewin-categoryinfo">LC</div>
                                <div class="talk-singleQuestionInfo">
                                    <div>
                                        <div class="talk-singleQuestionBrandName">ADIDAS YEEZY BOOST 350 V2 BELUGA 2.0</div>
                                        <div class="talk-timeanduser">DODANE <span class="talk-info">15 MINUT</span> TEMU PRZEZ <span class="talk-info">USER</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="talk-nextQuestions"><i class="demo-icon icon-right-open-big"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="talk.js"></script>
{% endblock content %}